@model IEnumerable<MoneyAccount>

<h3 class="display-4 pt-2">Money Accounts</h3>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.Name</td>
                <td>
                    <a asp-action="Details" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>